<form id="recovery_form" action="/api/auth/password_reset/{{token}}" method="POST">
  <div class="credentials_recovery">
    <h1>Cambiar contrase単a para {{names}}</h1>
    <div>
      <label for="password">Nueva contrase単a</label>
      <input name="password" class="input" id="password" type="password" required autocomplete="off" autofocus />

      <label for="confirmPassword">Confirmar contrase単a</label>
      <input name="confirmPassword" class="input" id="confirmPassword" type="password" required autocomplete="off" />
    </div>
  </div>
  <button class="btn btn-primary btn-full" type="submit">Cambiar contrase単a</button>
</form>
