<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saluth | {{toCapitalCase app.name}} {{#if title404}}{{title404}}{{/if}}</title>
    <link rel="icon" href="/img/Saluth_ligth.svg" type="image/gif">

    <!-- STYLES WEB -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- STYLES ELEMENTS -->
    <link rel="stylesheet" href="/styles/styles_loader.css">
    <link rel="stylesheet" href="/styles/styles_elements/style_mask-squircle.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_input.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_button.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_module_card.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_side_summary.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_header_tabs.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_header_details.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_header_search.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_filter.css">
    <link rel="stylesheet" href="/styles/styles_elements/styles_table.css">
    <link rel="stylesheet" href="/styles/styles_working.css">
    <link rel="stylesheet" href="/styles/styles_404.css">
    <link rel="stylesheet" href="/styles/framework.css">
    <link rel="stylesheet" href="/styles/variable.css">
<<<<<<< HEAD
    <link rel="stylesheet" href="/styles/styles_patient/patient_list.css">
=======
    
>>>>>>> 36ad3bfdeb92e151c572284d93dcb162ee492548

    <!-- STYLES MODULES -->
    <link rel="stylesheet" href="/styles/styles_modules/welcome/styles_branch_form.css">
    <link rel="stylesheet" href="/styles/styles_modules/welcome/styles_institution.css">
    <link rel="stylesheet" href="/styles/styles_modules/welcome/styles_branch.css">
    <link rel="stylesheet" href="/styles/variable.css">
    <link rel="stylesheet" href="/styles/styles_signin.css">
    <link rel="stylesheet" href="/styles/styles_reset.css">
    <link rel="stylesheet" href="/styles/styles_navegation.css">
    <link rel="stylesheet" href="/styles/styles_message.css">
    <link rel="stylesheet" href="/styles/styles_home.css">
    <link rel="stylesheet" href="/styles/styles_profile.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_solicitudes.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_medical_institutions.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_medical_branch.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_specialties.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_menu_apps.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_modules.css">
    <link rel="stylesheet" href="/styles/styles_modules/styles_modules_form.css">
    

    <script src="https://kit.fontawesome.com/413703a1a2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
    {{>loader}}
    {{>navegation}}
    {{{body}}}
    {{>message}}

</body>

<!-- SCRIPTS -->
<script src="/js/loader.js"></script>
<script src="/js/message.js"></script>
<script src="/js/signin.js"></script>
<script src="/js/navegation_active.js"></script>
<script src="/js/icons_module.js"></script>
<script src="/js/shortcut.js"></script>
<script src="/js/avatar.js"></script>
<script src="/js/institution_logo.js"></script>
<<<<<<< HEAD
<script src="/js/patient.js"></script>


=======
<script src="/js/profile.js"></script>
<script src="/js/search.js"></script>
<script src="/js/filter.js"></script>
<script src="/js/provinces.js"></script>
>>>>>>> 36ad3bfdeb92e151c572284d93dcb162ee492548

</html>