<div class="main_contect">
    <main class="main_app">
        <section>
            {{>module/header_tabs title='Recursos Humanos' tabs=tabs module=module}}

        </section>

        <section>
            <div class="">
                <span class="nombre_modulo">Nombre</span>
                <input class="input" name="name" type="text" placeholder="Nombre" value="{{item.name}}" required>
            </div>
        </section>
    </main>
</div>