<div class="main_contect">
    <main class="main_app">
        <section class="headers_module">
            {{>module/header_tabs title='Recursos Humanos' tabs=tabs module=module}}
            {{>module/header_details total=total active=active deleted=deleted}}
            {{>module/header_search module='department'}}
        </section>

        <section class="content_module">
            <div class="table">
                <div class="thead">
                    <div class="row">
                        <ul style="grid-template-columns: repeat(3, 1fr) 30px;">
                            <li>
                                ID
                            </li>
                            <li>
                                Nombre
                            </li>
                            <li>
                                Estado
                            </li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="tbody">
                    {{#each list}}
                    <div class="row">
                        <ul style="grid-template-columns: repeat(3, 1fr) 30px;">
                            <li class="data">
                                {{_id}}
                            </li>
                            <li class="data">
                                {{name}}
                            </li>
                            <li>
                                {{#if enable}}
                                <span class="status active data">Activo</span>
                                {{else}}
                                <span class="status inactive data">Inactivo</span>
                                {{/if}}
                            </li>
                            <li>
                                <span class="fa-solid fa-ellipsis"></span>
                            </li>
                        </ul>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{#unless list}}
            <div class="no_content">
                <h1>No hay {{toLowerCase module.name}}</h1>
            </div>
            {{/unless}}
        </section>
    </main>
</div>