<div class="main_contect">
    <main class="main_app">
<div>Nuevo Módulo</div>
<form action="/usuario_business/save" method="post">
    <div>
        <div>
            <span >Username</span>
            <input name="username" type="text" placeholder="username" required>
        </div>
        <div>
            <span>Password</span>
            <input name="password" type="text" placeholder="password" required>
        </div>
        <div>
            <span>Correo</span>
            <input name="correo" type="text" placeholder="correo" required>
        </div>
    </div>

    <div>
        <input type="submit" value="Enviar Datos">
    </div>

</form>
    </main>
</div>
